<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="pl.books.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="pl.books.perspectives.BooksListPerspective"
            id="pl.books.perspective.BooksListPerspective"
            name="Books List">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="pl.books.views.BooksListView"
            id="pl.books.views.BooksListView"
            name="Books List"
            restorable="true">
      </view>
      <view
            class="pl.books.views.BookDetailsView"
            id="pl.books.view.BookDetailsView"
            name="Book Details"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="pl.books.perspective.BooksListPerspective">
         <view
               id="pl.books.view.BookDetailsView"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="pl.books.views.BooksListView"
               minimized="false"
               ratio="0.662"
               relationship="left"
               relative="pl.books.view.BookDetailsView"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="pl.books.editor.BookEditor"
            default="false"
            id="pl.books.editor.BookEditor"
            name="Book Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="pl.books.handler.CallEditor"
            id="pl.books.command.openEditor"
            name="Open Book Editor">
      </command>
   </extension>

</plugin>
